body {
    color: black;
    background-color: blanchedalmond;
}
h1 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: blue;
    font-family: "Times New Roman", Times, serif;
}
h3 {
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
}
p {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 17px; 
}
pre {
	color: black; 
	background-color: #ADFF2F
}
a:link { 
    color: red 
}
a:visited { 
    color: purple
}

div{
    background-color: palegreen;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: absolute;    
    top: 12em;
    left: 25em;
    width: 40em;
}

.clase1 {
    background-color: lightcyan;
}

.clase2{
	list-style-type: none;
    padding: 0;
    margin: 0;
    
    position: absolute;
    top: 1em;
    left: 2em;
    width: 15em;
}

.clase3{
    text-align: left;
	list-style-type: none;
    padding: 0;
    margin: 0;

    position: absolute;    
    top: 8em;
    left: 20em;
    width: 74em;
}
